@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #eff1f0;
  color: #000000;
  font-family: Pretendard, Arial, sans-serif;
}

button {
  font-family: inherit;
}

img {
  max-width: 100%;
}

#root {
  min-height: 100vh;
}